# Dcm4Che's basedir a.k.a. install dir
DCM4CHE_DIR='/usr/local/dcm4che'

# Modality Worklist (MWL) settings
MWL_DIR="$(pwd)/worklist"
MWL_AETITLE='MOWOLI'
MWL_PORT=11112

# Name of your hospital / office (max. 64 characters)
SCHEDULED_PERFORMING_PHYSICIANS_NAME='Simpson^Bart'

# Identifier of the Assigning Authority (system, organization, agency, or
# department) that issued the Patient ID.
# This sets DICOM-Tag (0010,0021).
#ISSUER_OF_PATIENT_ID="MOWOLI"
