# Modality Worklist (MWL) settings
MWL_DIR="$(pwd)/var/dcm4che2"

# Name of your hospital / office (max. 64 characters)
SCHEDULED_PERFORMING_PHYSICIANS_NAME='Simpson^Bart'

# Identifier of the Assigning Authority (system, organization, agency, or
# department) that issued the Patient ID.
# This sets DICOM-Tag (0010,0021).
#ISSUER_OF_PATIENT_ID="MOWOLI"
